<template>
  <div>

      <v-btn
        fixed
        dark
        fab
        bottom
        right
        color="pink"
        class="mb-5"
        @click="showDialog = true"
      >
        <v-icon>add</v-icon>
      </v-btn>

    <v-layout row wrap>
      <v-flex xs3 offset-xs9>
        <v-select
          label="Tags"
          :items="tags"
          v-model="searchTags"
          multiple
          chips
          hint="Select tags to find pets"
          persistent-hint
        ></v-select>
      </v-flex>
    </v-layout>

    <v-layout row wrap v-if="pets">
      <v-flex v-for="pet in pets" :key="pet.id" xs4>
        <pet-card :pet="pet" @petRemoved="getPets(true)" @runUpdatePet="updatePet"/>
      </v-flex>
    </v-layout>


    <pet-create v-model="showDialog" @close="showDialog = false" @petCreated="getPets()"></pet-create>
    <pet-update v-model="showDialogUpdate" @close="showDialogUpdate = false" @petUpdated="getPets()"></pet-update>
  </div>
</template>

<script>
  import { mapGetters, mapActions, } from 'vuex';
  import petCard from './partials/petCard';
  import petCreate from './partials/petCreate';
  import petUpdate from './partials/petUpdate';

  export default {
    data() {
      return {
        showDialog: false,
        showDialogUpdate: false,
        queryTags: [],
      };
    },
    mounted() {
      this.getPets();
    },
    components: {
      petCard,
      petCreate,
      petUpdate,
    },
    computed: {
      ...mapGetters({
        pets: 'pets/allPets',
        tags: 'pets/allTagsNames',
      }),
      searchTags: {
        get() {
          return this.queryTags;
        },
        set(tags) {
          this.queryTags = tags;
          if (tags.length === 0) {
            this.getPets(true);
          } else {
            this.searchByTags();
          }
        },
      },
    },
    methods: {
      ...mapActions({
        getPets: 'pets/getPets',
      }),
      searchByTags() {
        const queryTags = {
          tags: this.queryTags,
        };
        this.$store.dispatch('pets/getPetsFiltered', queryTags);
      },
      updatePet() {
        this.showDialogUpdate = true;
      },
    },
  };
</script>
