<template>
  <div>
    <v-layout row wrap v-if="pet">
      <v-flex xs6 class="pa-1">
        <pet-card :pet="pet"></pet-card>
      </v-flex>
      <v-flex xs6 class="pa-2 mt-5">
        <span class="display-1 pa-3">Update using the form below:</span><br/>
        <v-divider class="pa-1"></v-divider>
        <form :action="`${formUrl}/pet/${id}`" method="POST" class="mt-3">
          <v-layout row wrap>
            <v-flex xs12 text-xs-center>
              <label for="id-form">ID:</label><br/>
              <input id="id-form" class="form-input" type="text" name="id" :value="id" readonly>
            </v-flex>
          </v-layout>

          <v-layout row wrap>
            <v-flex xs12 text-xs-center>
              <label for="name-form" class="mt-3">Name:</label><br/>
              <input id="name-form" class="form-input" type="text" name="name" :value="name">
            </v-flex>
          </v-layout>

          <v-layout row wrap>
            <v-flex xs12 text-xs-center>
              <label for="status-form" class="mt-3">Status:</label><br/>
              <input id="status-form" class="form-input" type="text" name="status" :value="status">
            </v-flex>
          </v-layout>

          <v-layout row wrap>
            <v-flex xs12 text-xs-center>
              <button type="submit" class="primary form-submit-btn mt-4">Update</button>
            </v-flex>
          </v-layout>

        </form>
      </v-flex>
    </v-layout>
    <v-layout row wrap v-if="pet">
      <v-flex xs8 offset-xs2 class="pa-2">
        <v-card>
          <v-card-title>
            <span class="display-1"><v-icon left class="primary--text">shopping_cart</v-icon> Place an order</span>
          </v-card-title>
          <v-layout row wrap>
            <v-flex xs4 offset-xs4 class="pa-2">
              <v-text-field
                label="Quantity"
                type="number"
                v-model="quantity"
              >
              </v-text-field><br/>

            </v-flex>
          </v-layout>
          <v-layout row wrap>
            <v-flex xs6 text-xs-center>
              <v-date-picker v-model="datePicker"></v-date-picker>
            </v-flex>
            <v-flex xs6 text-xs-center>
              <v-time-picker v-model="timePicker"></v-time-picker>
            </v-flex>
          </v-layout>
        </v-card>
      </v-flex>
    </v-layout>
    <!-- If no pet found -->
    <v-layout row wrap v-if="!pet">
      <v-flex xs12 text-xs-center>
        <h1>No pet was found</h1>
      </v-flex>
    </v-layout>

  </div>
</template>

<script>
  import { mapGetters, } from 'vuex';
  import petCard from './partials/petCard';
  import config from '../../config';

  export default {
    data() {
      return {
        id: Number(this.$route.params.id),
        formUrl: config.main_api,
        quantity: 1,
        datePicker: '2018-03-03',
        timePicker: null,
      };
    },
    components: {
      petCard,
    },
    created() {
      this.$store.dispatch('pets/getPet', this.id);
    },
    computed: {
      ...mapGetters({
        pet: 'pets/storePet',
      }),
      name: {
        get() {
          return this.pet.name;
        },
        set(name) {
          this.pet.name = name;
        },
      },
      status: {
        get() {
          return this.pet.status.substr(0, 1).toUpperCase() + this.pet.status.substr(1);
        },
        set(status) {
          this.pet.status = status.toLowerCase();
        },
      },
    },
    methods: {
      placeOrder() {

      },
    },
  };
</script>

<style>
  .form-input {
    border: 1px solid gray;
  }
  .form-submit-btn {
    padding: 3px 5px;
    border-radius: 3px;
    color: white;
  }
</style>
