<template>
  <v-navigation-drawer
    persistent
    v-model="drawer"
    enable-resize-watcher
    fixed
    app
    class="pt-5 mt-3"
  >
    <v-list>
      <v-list-tile
        value="true"
        v-for="(item, i) in items"
        :key="i"
        @click.stop="navigateTo(item.url)"
      >
        <v-list-tile-action>
          <v-icon v-html="item.icon"></v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title v-text="item.title" class="text--secondary"></v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
  export default {
    computed: {
      drawer: {
        get() {
          return this.$store.state.layout.drawer;
        },
        set(value) {
          this.$store.commit('layout/UPDATE_DRAWER', value);
        },
      },
      items() {
        return this.$store.state.layout.items;
      },
    },
    methods: {
      navigateTo(url) {
        this.$router.push(url);
      },
    },
  };
</script>
