<template>
  <v-toolbar
    app
    :clipped-left="true"
    dark
  >
    <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
    <v-toolbar-title v-text="title"></v-toolbar-title>
    <v-spacer></v-spacer>
    <div class="text-xs-center" style="cursor: pointer;">
      <v-chip @click="logoutAction()">
        LOGOUT <v-icon>arrow_right</v-icon>
      </v-chip>
    </div>

  </v-toolbar>
</template>

<script>
  import { mapActions, } from 'vuex';

  export default {
    data() {
      return {
        title: 'Pets Application',
      };
    },
    computed: {
      drawer: {
        get() {
          return this.$store.state.layout.drawer;
        },
        set(value) {
          this.$store.commit('layout/UPDATE_DRAWER', value);
        },
      },
    },
    methods: {
      ...mapActions({
        logout: 'auth/logout',
      }),
      logoutAction() {
        this.logout().then(
          () => this.$router.push('/login'),
          err => console.log(err),
        );
      },
    },
  };
</script>
