<template>
  <v-layout row wrap>
    <v-flex xs4 offset-xs4 text-xs-center class="mt-5 pt-5">
      <v-card>
        <v-card-title>
          <span class="display-1 primary--text">Fiveandhalf Test Project</span>
        </v-card-title>
        <v-card-media class="ma-3" src="static/images/empty.jpg" height="200px">
        </v-card-media>

        <v-layout row wrap>
          <v-flex xs12 text-xs-center class="pa-3">

            <!-- USERNAME -->
            <v-text-field
              label="Login"
              v-model="username"
              required
            ></v-text-field>

            <!-- PASSWORD -->
            <v-text-field
              label="Password"
              v-model="password"
              type="password"
              required
            ></v-text-field>

            <!-- SBMIT -->
            <v-btn type="submit" @click.stop="loginApp()" class="btn primary">Login</v-btn>

          </v-flex>
        </v-layout>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
  import { mapActions, } from 'vuex';

  export default {
    components: {},
    data() {
      return {
        username: 'testman@example.com',
        password: 'secret',
      };
    },
    methods: {
      ...mapActions({
        loginAction: 'auth/login',
      }),
      loginApp() {
        this.loginAction({ email: this.username, password: this.password, })
          .then(
            () => this.$router.push('pets'),
          );
      },
    },
  };
</script>
