<template>
  <v-layout row wrap>
    <v-flex xs12 pa-2>
      <table id="orders-table" class="table">
        <thead>
        <tr>
          <th>ID</th>
          <th>Pet ID</th>
          <th>Complete</th>
          <th>Quantity</th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="order in orders" :key="order.id">
          <td>{{ order.id }}</td>
          <td>{{ order.pet.id }}</td>
          <td  v-if="order.complete"><v-icon small color="success">done</v-icon></td>
          <td v-if="!order.complete"><v-icon small color="error">clear</v-icon></td>
          <td>{{ order.quantity }}</td>
          <td>{{ order.status }}</td>
        </tr>
        </tbody>
      </table>
    </v-flex>
  </v-layout>
</template>

<script>
  import { mapGetters, mapActions, } from 'vuex';

  export default {
    mounted() {
      this.getOrders();
    },
    computed: {
      ...mapGetters({
        orders: 'orders/allOrders',
      }),
    },
    methods: {
      ...mapActions({
        getOrders: 'orders/getOrders',
      }),
    },
  };
</script>

<style scoped>
  #orders-table tbody td {
    text-align: center;
  }
</style>
