<template>
  <v-layout row wrap>
    <v-flex xs4 offset-xs4 text-xs-center>
      <img src="../../../static/images/dog_404.png" alt="error_404" class="mt-3"/>
      <h3>Page not found</h3>
    </v-flex>
  </v-layout>
</template>

<script>
  export default {};
</script>
