<template>
  <v-layout row justify-center>
    <v-dialog v-model="dialog" persistent max-width="500px">
      <v-card>
        <v-card-title>
          <span class="headline"><v-icon>pets</v-icon> Add a new pet</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12 sm6>
                <v-text-field label="Name" v-model="pet.name" required></v-text-field>
              </v-flex>
              <v-flex xs12 sm6>
                <v-select
                  label="Category"
                  autocomplete
                  v-model="chosenCategoryName"
                  chips
                  :items="categoriesNames"
                ></v-select>
              </v-flex>
              <v-flex xs12 sm6>
                <v-select
                  label="Status"
                  required
                  v-model="pet.status"
                  :items="['Available', 'Pending', 'Sold']"
                ></v-select>
              </v-flex>
              <v-flex xs12 sm6>
                <v-select
                  label="Photos"
                  required
                  v-model="pet.photoUrls"
                  :items="['dog photo', 'cat photo', 'bird photo', 'horse photo']"
                ></v-select>
              </v-flex>
              <v-flex xs12 sm12>
                <v-select
                  label="Tags"
                  multiple
                  autocomplete
                  v-model="pet.tags"
                  chips
                  :items="tagsNames"
                ></v-select>
              </v-flex>
            </v-layout>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click.native="dialog = false;">Close</v-btn>
          <v-btn color="blue darken-1" flat @click.native="createPet()">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
  import { mapGetters, } from 'vuex';
  import * as _ from 'lodash';

  export default {
    // eslint-disable-next-line
    props: ['value', ],
    data() {
      return {
        showModal: this.value,
        chosenCategoryName: null,
        pet: {
          id: 0,
          category_id: null,
          name: null,
          photoUrls: [],
          tags: [],
          status: null,
        },
      };
    },
    computed: {
      ...mapGetters({
        categoriesNames: 'pets/allCategoriesNames',
        tagsNames: 'pets/allTagsNames',
        categories: 'pets/allCategories',
        petsNumber: 'pets/allPetsNumber',
      }),
      dialog: {
        get() {
          return this.value;
        },
        set(value) {
          if (!value) {
            this.$emit('close');
          }
          return value;
        },
      },
    },
    methods: {
      createPet() {
        this.pet.id = this.petsNumber + 1;
        this.pet.category_id = this.categories[this.chosenCategoryName.toLowerCase()].id;
        this.pet.status = this.pet.status.toLowerCase();
        this.pet.tags = _.map(this.pet.tags, (t) => this.$store.state.pets.tags[t].id);
        // eslint-disable-next-line no-console
        console.log(this.pet.tags);
        this.$store.dispatch('pets/create', this.pet).then(
          () => {
            this.resetPet();
            this.$emit('petCreated');
          },
          // eslint-disable-next-line no-console
          err => console.log(err),
        );
        this.dialog = false;
      },
      resetPet() {
        this.pet = {
          id: 0,
          category_id: null,
          name: null,
          photoUrls: [],
          tags: [],
          status: null,
        };
      },
      setPet() {
        this.pet = {
          id: 0,
          category_id: null,
          name: null,
          photoUrls: null,
          tag: null,
          status: null,
        };
      },
    },
  };
</script>
