<template>
  <v-card class="pa-1 ma-1">
    <v-card-title :class="{'success bright--text': currPet.status === 'available', 'warning': currPet.status === 'pending', 'error bright--text': currPet.status === 'sold'}">
      <small>Pet #{{ currPet.id }}</small>
      <v-spacer></v-spacer>
      <v-icon>pets</v-icon>
      <b class="ml-3 mr-3">{{ currPet.category.name }}</b>
      <v-icon>pets</v-icon>
      <v-spacer></v-spacer>
      <small>Cat. #{{ currPet.category.id }}</small>
    </v-card-title>
    <v-card-media
      class="white--text"
      height="200px"
      :src="getImageSrc()"
    >
    </v-card-media>
    <v-card-text>
      <v-layout row wrap>
        <v-flex xs6 text-xs-left>
          <small v-if="$route.path === '/pets'">
            <v-icon small left class="primary--text" @click.stop="updatePet()">edit</v-icon>
            <v-icon small left class="error--text ml-1" @click.stop="deletePet()">remove_circle</v-icon>
            <v-icon small left class="success--text  ml-1" @click.stop="seeProfile()">visibility</v-icon>
          </small>
        </v-flex>
        <v-flex xs6 text-xs-right>
          <small>
            <b v-if="currPet.status === 'available'" class="success--text">Available</b>
            <b v-if="currPet.status === 'pending'" class="warning--text">Pending</b>
            <b v-if="currPet.status === 'sold'" class="error--text">Sold</b>
          </small>
        </v-flex>
      </v-layout>
      <p class="text-xs-center">
        <strong>{{ currPet.name }}</strong>
      </p>
      <v-divider></v-divider>
    </v-card-text>
    <v-card-actions>
      <small v-if="currPet.tags.length === 0" class="accent--text">No tags available</small>
    </v-card-actions>
    <v-card-actions>
      <div v-for="tag in currPet.tags" :key="tag.id" class="text-xs-center">
        <v-chip label small color="info" text-color="white">
          <v-icon left>label</v-icon>{{ tag.name }}
        </v-chip>
      </div>
    </v-card-actions>
  </v-card>
</template>

<script>
  import { mapActions, } from 'vuex';

  export default {
    components: {},
    props: {
      pet: {
        required: true,
      },
    },
    data() {
      return {
        currPet: this.pet,
      };
    },
    methods: {
      ...mapActions({
        removePet: 'pets/remove',
      }),
      updatePet() {
        this.$store.dispatch('pets/setPet', this.currPet).then(
          () => this.$emit('runUpdatePet'),
          err => console.log(`Could not udpate pet store: ${err}`),
        );
      },
      deletePet() {
        this.removePet(this.currPet.id).then(
          () => this.$emit('petRemoved'),
          err => console.log(err),
        );
      },
      getImageSrc() {
        if (this.currPet.photo_urls) {
          if (this.currPet.photo_urls.length > 0) {
            return this.currPet.photo_urls[0].url;
          }
        }
        return '../../../../static/images/empty.jpg';
      },
      seeProfile() {
        this.$router.push(`/pet/${this.pet.id}`);
      },
    },
  };
</script>
