<template>
  <v-layout row justify-center>
    <v-dialog v-model="dialog" persistent max-width="500px">
      <v-card>
        <v-card-title>
          <span class="headline"><v-icon>pets</v-icon> Update pet</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md v-if="pet">
            <v-layout wrap>
              <v-flex xs12 sm6>
                <v-text-field label="Name" v-model="pet.name" required></v-text-field>
              </v-flex>
              <v-flex xs12 sm6>
                <v-select
                  label="Category"
                  autocomplete
                  v-model="chosenCategoryName"
                  chips
                  :items="categoriesNames"
                ></v-select>
              </v-flex>
              <v-flex xs12 sm6>
                <v-select
                  label="Status"
                  required
                  v-model="chosenStatus"
                  :items="['Available', 'Pending', 'Sold']"
                ></v-select>
              </v-flex>
              <v-flex xs12 sm6>
                <v-select
                  label="Photos"
                  required
                  v-model="pet.photoUrls"
                  :items="['dog photo', 'cat photo', 'bird photo', 'horse photo']"
                ></v-select>
              </v-flex>
              <v-flex xs12 sm12>
                <v-select
                  label="Tags"
                  multiple
                  autocomplete
                  v-model="chosenTags"
                  chips
                  :items="tagsNames"
                ></v-select>
              </v-flex>
            </v-layout>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click.native="dialog = false;">Close</v-btn>
          <v-btn color="blue darken-1" flat @click.native="updatePet()">Update</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
  import { mapGetters, } from 'vuex';
  import * as _ from 'lodash';

  export default {
    // eslint-disable-next-line
    props: ['value', ],
    data() {
      return {
        showModal: this.value,
      };
    },
    computed: {
      ...mapGetters({
        categoriesNames: 'pets/allCategoriesNames',
        tagsNames: 'pets/allTagsNames',
        categories: 'pets/allCategories',
        tags: 'pets/allTags',
        petsNumber: 'pets/allPetsNumber',
        pet: 'pets/storePet',
      }),
      dialog: {
        get() {
          return this.value;
        },
        set(value) {
          if (!value) {
            this.$emit('close');
          }
          return value;
        },
      },
      chosenCategoryName: {
        get() {
          return this.pet.category.name;
        },
        set(categoryName) {
          this.pet.category.id = this.categories[categoryName.toLowerCase()].id;
          this.pet.category_id = this.categories[categoryName.toLowerCase()].id;
        },
      },
      chosenStatus: {
        get() {
          return this.pet.status.substr(0, 1).toUpperCase() + this.pet.status.substr(1);
        },
        set(status) {
          this.pet.status = status.toLowerCase();
        },
      },
      chosenTags: {
        get() {
          return _.map(this.pet.tags, t => t.name);
        },
        set(tags) {
          const petTags = _.map(tags, (t) => {
            if (t !== null && t !== undefined) {
              return {
                name: t,
                id: this.tags[t.toLowerCase()].id,
              };
            }
            return false;
          });
          this.pet.tags = petTags;
        },
      },
    },
    methods: {
      updatePet() {
        const pet = _.clone(this.pet);

        pet.tags = _.map(this.chosenTags, (t) => this.$store.state.pets.tags[t].id);
        this.$store.dispatch('pets/update', pet).then(
          () => {
            this.$emit('petUpdated');
          },
          // eslint-disable-next-line no-console
          err => console.log(err),
        );
        this.dialog = false;
      },
    },
  };
</script>
