<template>
  <div>
    <v-content>
      <router-view></router-view>
    </v-content>
  </div>
</template>

<script>
  import NavBarComp from './partials/Navbar';
  import FooterComp from './partials/Footer';

  export default {
    components: {
      NavBarComp,
      FooterComp,
    },
  };
</script>
