<template>
  <div>
    <drawer-comp></drawer-comp>
    <nav-bar-comp></nav-bar-comp>
    <v-content>
      <router-view></router-view>
    </v-content>
    <footer-comp></footer-comp>
  </div>
</template>

<script>
  import NavBarComp from './partials/Navbar';
  import DrawerComp from './partials/Drawer';
  import FooterComp from './partials/Footer';

  export default {
    components: {
      NavBarComp,
      DrawerComp,
      FooterComp,
    },
  };
</script>
